[2012-04-03 00:36] veebs opened #1 "Output Web Server Logs"
Support [common](http://en.wikipedia.org/wiki/Common_Log_Format) and [extended](http://en.wikipedia.org/wiki/Extended_Log_Format) log format.

Allow output to file or syslog.

[2012-04-03 00:41] veebs opened #2 "Benchmarking"
Write example program for benchmarking and execute.

[2012-04-03 00:43] veebs opened #3 "Documentation"
Create documentation that is publishable via github pages

[2012-04-03 00:44] veebs opened #4 "Continuous Build and publishing to repository"

[2012-04-03 00:47] veebs opened #5 "Create example programs"
- Quick start [Done]
- Snoop [Done]
- Web Socket [Done]
- SSL
- Simple HTTP file server showcasing GET html file, file upload, web sockets, ajax.

[2012-04-17 06:57] veebs commented on #5
Done

[2012-04-17 06:57] #5 closed, assigned to veebs

[2012-04-19 03:58] veebs opened #6 "Add in memory caching of small static files"
Perhaps use http://code.google.com/p/kitty-cache/? Port it to scala?

[2012-04-21 23:22] lightningdb commented on #4
Possibly use Travis CI?

http://about.travis-ci.org/
http://travis-ci.org/

Otherwise, I'm familar with Jenkins (we use it at work)

[2012-04-21 23:25] lightningdb commented on #4
I kinda know one of the guys behind CloudBees, which offer a free hosted Jenkins service for open source projects:
http://www.cloudbees.com/foss/index.cb

So that's another option.

[2012-04-22 00:11] veebs commented on #4
Sounds good.  I know netty uses cloudbees but I've not had the time to look at it.  I would be good if we can add it - but agreed that it is not urgent.  I'll separately get publishing to maven going first.  I've moved this task to V0.2. Thanks.

[2012-04-23 20:55] lightningdb commented on #3
Done?

[2012-04-23 22:45] veebs commented on #3
Unfortunately no. Have to write user guide tomorrow. Then that's it.

Sent from my iPhone

On 24/04/2012, at 6:55 AM, Dave Boltonreply@reply.github.com wrote:

[2012-04-29 06:33] #2 closed, assigned to nobody

[2012-04-29 06:33] #3 closed, assigned to nobody

[2012-04-30 06:14] veebs commented on #6
Dave,

Here's a quick brain dump of what I had in mind. Happy to discuss.
1. Maybe we should implement the cache as part of the processing context.  In this way it can be used by all sorts of processors.
2. I think I put in a cache already - but this is more for a request level.  So we should a new cache called "WebServerCache" to denote the scope.
3. We need to be able to define max memory size f

[2012-05-04 04:50] veebs opened #8 "Upgrade dependancies"
Scala 2.10
Akka 2.1
Netty 3.6.2
Sbt 0.12.1

[2012-05-05 00:23] veebs opened #9 "Conditional HTTP Compression"
Make compression optional in `HttpProcessingContext`
Introduce the following parameters to configuration

**Min content size before compression is allowed**
This is to stop compression of say 100 byte files where amount of time spent compressing may not get you network bandwidth gains.

Add `minCompressibleContentSizeInBytes` WebServerConfig configuration parameter. Minimum number of bytes before

[2012-05-05 00:32] veebs opened #10 "Add examples of writing text and binary data in User Guide"
Need to show how ProcessingContext.write() works.

[2012-05-05 00:33] #9 closed, assigned to veebs

[2012-05-09 11:27] casualjim opened #11 "Duplication of effort"
hi

I have a very very similar project in scala.

https://github.com/mojolly/backchat-websocket

maybe we should cooperate, I think I'm a lot further along when it comes to websockets and I have a rest server too that I can add into this

http://github.com/scalatra/scalatra-netty

[2012-05-10 01:30] veebs commented on #11
Hi Ivan,

Would love to co-operate.  Let us know how you think we can work together.

I've dropped you my email address via git hub message so we can email each other.

Regards
Vibul

[2012-05-10 01:30] #11 closed, assigned to nobody

[2012-05-10 01:43] veebs commented on #11
Seems like GitHub message feature has been removed.  I've direct message you via twitter instead. Thanks

[2012-05-10 01:49] veebs commented on #11
Wow that didn't work too - apparently you have to follow me before I can direct message you!  I shouldn't be this hard to pass an email address is private?

Anyways, my twitter is @vibuli.  If you can kindly follow me and I'll direct message you; or you can direct message me your email address and I'll reply.

Thanks

[2012-05-11 04:50] veebs opened #12 "Rename ssl-config and http-config in WebServerConfig and akka.conf file"
Does not make sense to have "-config" suffix.  Should just be "ssl" and "http"

[code]

[2012-05-11 05:21] #12 closed, assigned to veebs

[2012-05-14 01:06] veebs opened #13 "SPDY support with Netty 3.5 (Duplicate of #20)"

[2012-05-14 07:18] #1 closed, assigned to veebs

[2012-05-18 01:05] veebs commented on #4
Moved to v0.3 because we'll be moving to Scala 2.10 M3 - and travis not support it as yet.

[2012-05-18 01:09] veebs opened #14 "REST Processor"
- Auto JSON serialization/deserialization (maybe even XML)
- Swagger
- Will need scala 2.10.
- Should be released in line with [Typesafe Stack 2.x](http://www.slideshare.net/marakana/martin-odersky-whats-next-for-scala) (see slide 29) for Q3 release.

[2012-05-18 06:31] #10 closed, assigned to veebs

[2012-05-18 06:31] veebs opened #15 "Chunk HTTP response writer"
Ability to write http chunks via the context.

[code]

[2012-05-18 07:36] #15 closed, assigned to veebs

[2012-05-21 05:23] veebs opened #16 "Implement wrapper for Netty's HttpResponseStatus"
Write a wrapper for Netty's HttpResponseStatus.

Save Socko users's from lookuping Netty's Javadocs.

[2012-05-21 05:24] veebs commented on #16
See https://github.com/mashupbots/socko/commit/3081e9b2aefb33f37215ee01a85262a85d4a3e00

[2012-05-21 05:24] #16 closed, assigned to veebs

[2012-05-21 05:26] veebs commented on #8
Moved to v0.3 because we'll do a big update then.
Will use Scala 2.10 and Netty 3.6.1 to implement REST API.

[2012-06-01 06:05] veebs opened #17 "Refactor to fix inconsistent terminology"
**Packages**
- `utils` to `infrastructure`
- `context` to `events`
- `processors` to `handlers`

**Rename context class to match Route extractors**
- HttpRequestProcessingContext > HttpRequestEvent
- HttpChunkProcessingContext > HttpRequestEvent
- WsFrameProcessingContext > WebSocketFrameEvent
- WsHandshakeProcessingContext > WebSocketHandshakeEvent

**Web Socket authorization**
The `isAllowed` fl

[2012-06-02 01:29] #17 closed, assigned to veebs

[2012-06-02 11:29] veebs opened #18 "Web Socket Broadcasting"
Original idea from Jan Machacek.  See http://www.cakesolutions.net/teamblogs/2012/05/10/web-socket-push-notifications-in-akka-netty-and-socko/

Added `WebSocketBroadcaster` actor to store connections to which broadcast messages can be sent.

Added ChatApp example.

[2012-06-02 11:34] #18 closed, assigned to veebs

[2012-06-06 06:56] #6 closed, assigned to lightningdb

[2012-06-06 06:56] veebs opened #19 "Upgrade to Netty 3.5 and Akka 2.0.2"
- Use netty's org.jboss.netty.handler.codec.http.multipart.HttpPostRequestDecoder instead of our own copy.  See FileUpload example.
- Add max frame size to web sockets.

[2012-06-06 06:56] #19 closed, assigned to veebs

[2012-06-09 07:20] veebs opened #20 "SPDY 3 support"
Thanks to ... http://www.smartjava.org/content/using-spdy-and-http-transparently-using-netty

[2012-06-09 07:20] veebs opened #21 "Add TCP configuration parameters"
case class TcpConfig(
  noDelay: Option[Boolean] = None,
  sendBufferSize: Option[Int] = None,
  receiveBufferSize: Option[Int] = None,
  keepAlive: Option[Boolean] = None,
  reuseAddress: Option[Boolean] = None,
  soLinger: Option[Int] = None,
  trafficClass: Option[Int] = None,
  acceptBackLog: Option[Int] = None)

[2012-06-11 05:08] #21 closed, assigned to veebs

[2012-06-13 12:00] veebs commented on #13
Duplicate of #20

[2012-06-13 12:00] #13 closed, assigned to veebs

[2012-06-16 04:52] #20 closed, assigned to veebs

[2012-06-27 15:05] Jiansen opened #23 "More accurate type for Method.unapply?"
Hi,

I found that all subclasses of Method are used to match HTTP requests.  Therefore, I suggest to declare Method.unapply as:
  def unapply (ctx: SockoEvent): Option[HttpRequestEvent]
or even
  def unapply (ctx: HttpRequestEvent): Option[HttpRequestEvent]

All the best

Jiansen

[2012-06-27 17:37] Jiansen opened #24 "where is actorRef2Scala used"
Hi,

There are some examples (e.g. BenchmarkApp) that port actorRef2Scala.  To my surprise, those examples still work after I comment the import statement.  Would you mind to tell me where actorRef2Scala is used?

-- Jiansen

[2012-06-27 18:19] slandelle commented on #24
My 2 cents: Scala IDE "organize imports" mess...

[2012-06-28 06:51] veebs commented on #23
Great suggestion. Thanks.

[2012-06-28 06:57] veebs commented on #24
I think slandelle is right - I used scala ide to organize imports.

[2012-06-28 07:37] slandelle commented on #24
It happens to me all the time on Gatling.
Should open a bug on ScalaIDE...

[2012-06-28 09:58] Jiansen commented on #24
Thanks veebs and slandelle.  -- Jiansen

[2012-06-29 07:04] Megaprog opened #25 "WebSocket not worked at all even in example ChatApp"
Hello!

Why in example ChatApp where is no connetion at all? WebSocketHandshakeEvent.authorize() method do nothing in code:

  def authorize(subprotocols: String = "", maxFrameSize: Int = 102400) {
    _isAuthorized = true
    _authorizedSubprotocols = if (subprotocols == null) "" else subprotocols
    _maxFrameSize = maxFrameSize
  }

where it is here some response to client?

[2012-06-29 07:29] veebs commented on #25
Hi

ChatApp requires you to open your browser and navigate to http://localhost:8888/html. It is the browser that initiates the connection.

During websocket setup, handshaking needs to happen.

The authorize() method grants permission to socko to proceed with handshaking.

Once handshaking has finished, processing happens in ChatHandler.

Let me know if you require more info.
V

Sent from my iPhon

[2012-06-29 07:38] Megaprog commented on #25
I have "Web Socket closed" message in output TextArea when I open my browser and navigate to http://localhost:8888/html. On the server side method wsHandshake.authorize() is invoked but WebSocket connection not established.

[2012-07-01 12:30] veebs commented on #25
Hi, i've just tried it out again and it is working for me with chrome and firefox; on ubuntu 12.04 and Open JDK 7.

I ran

[code]

I then selected the ChatApp,.

What's your environment?

[2012-07-01 19:00] Megaprog commented on #25
My environments are Windows XP / 7 (64bit) Oracle JDK 7.04 with Crome and FireFox last versions. Result is the same: no WebSocket connection established. On client only onclose event is rised.

[2012-07-02 00:29] veebs commented on #25
Hi

Sorry I don't have that environment to help u debug.

Can u set a break point in authorize() as u did before and step through the code? After exiting the route where u call authorize(), it should take you into socko code that performs the handshake.

You may also try using the browser debugger to see what is closing the connection.

V

Sent from my iPhone

On 02/07/2012, at 2:00 AM, Megaprogre

[2012-07-02 08:14] Megaprog commented on #25
Sorry, it's my fail because jar hell.

Akka 2.02 includes netty 3.3.0 jar file which used prefer netty 3.5.1 When I removed netty 3.3.0 jar all works ok.

Thank you for response!

[2012-07-02 08:14] #25 closed, assigned to nobody

[2012-07-02 08:43] veebs commented on #25
Cool. Glad it is all working.

V

Sent from my iPhone

On 02/07/2012, at 3:14 PM, Megaprogreply@reply.github.com wrote:

[2012-07-02 17:22] didenko opened #26 "Example issue?"
The example file [RouteApp.scala](https://github.com/mashupbots/socko/blob/05a31f1c1a1bee2ed96f0aba6af942781b5e856c/socko-examples/src/main/scala/org/mashupbots/socko/examples/routes/RouteApp.scala) fails for me with the following message:

[code]

Environment:

[code]

What do I do wrong?

Thank you!

[2012-07-03 06:18] veebs commented on #26
Hi

Have you included TimeHandler.scala in your project? It is found in the same package as RouteApp.scala

V

Sent from my iPhone

On 03/07/2012, at 4:02 AM, Vlad Didenkoreply@reply.github.com wrote:

[2012-07-03 12:02] #26 closed, assigned to nobody

[2012-07-03 12:02] didenko commented on #26
Shoot. User error. Sorry about that,

[2012-07-05 00:37] Jiansen commented on #23
Hi, I noticed another problem in Rountes.scala

The documentation for Path says Path is used for "Matches HTTP requests with the same case-sensitive path".  But in your SnoopSpec test, Path is used to match a WebSocketHandshakeEvent as well.

Is it true that your documentation for Path/Host/Query-related objects mismatch your intention?

-- Jiansen

[2012-07-05 10:09] veebs commented on #23
Hi

All events, including WebSocketHandshakeEvent, have an EndPoint that contains a path.

A websocket handshake is a type of http request and has a URL specified. Hence, we can match based on path.

Does this answer your question?

V
Sent from my iPhone

On 05/07/2012, at 8:37 AM, Jiansenreply@reply.github.com wrote:

[2012-07-05 12:36] Jiansen commented on #23
Thanks for your explanation.

If I got your point correctly, Path (and Host and QueryString) should be able to match all subclasses of SockoEvent that  inherits the endPoint field.

I was confused about the purpose of Path/Host/QueryString-related objects/classes because I though "http request" in the API documentation refers to HttpRequstEvent.  In future releases, would you mind changing
  "Matc

[2012-07-05 15:59] veebs commented on #23
Point taken. I'll make this change for the next release.

Will start working on the next release in a couple of weeks.

V

On Thursday, 5 July 2012, Jiansen wrote:

[2012-07-11 19:54] Jiansen opened #27 "Socko Benchmark"
Hi,

I run the benchmark example a few times by
  $ab -n1000000 -c100 http://localhost:8888/dynamic

Occasionally, the system stopped and reported following problem:

20:36:21.654 [DEBUG] [New I/O  worker #4] [] [o.m.socko.webserver.RequestHandler] [] - Error handling request
java.nio.channels.ClosedChannelException: null
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.discard(ChunkedWri

[2012-07-11 20:15] Jiansen commented on #27
I was wrong for claiming that "system stopped".

The system does not stop after raising above exception.  It is able to process new requests and new benchmarks.

I also got following tests results in a recent run

  Benchmarking localhost (be patient)
  Completed 100000 requests
  Completed 200000 requests
  Completed 300000 requests
  Completed 400000 requests
  apr_poll: The timeout specified ha

[2012-07-11 21:32] veebs commented on #27
Hi

I have run ab myself but not had this issue.

The problem maybe in Netty. Can you try using the latest Netty 3.5.2 and
see if the problem still persists?

I will have some time next week to help out if that does not fix it.

V

On Thursday, 12 July 2012, Jiansen wrote:

[2012-07-12 00:46] veebs commented on #27
Another cause maybe ab is closing the connection while we are trying to
write.

This some times happens.

When it does happen to you, does socko crash?  Can you run ab again without
restarting socko?

Thanks
V

On Thursday, 12 July 2012, Vibul Imtarnasan wrote:

[2012-07-12 01:09] veebs commented on #27
Here are some interesting links I found.

Maybe try httpperf. http://lists.jboss.org/pipermail/netty-users/2011-October/005195.html

Some jvm and os tuning maybe needed. http://lists.jboss.org/pipermail/netty-users/2011-August/004813.html and
http://stackoverflow.com/questions/6856116/why-poor-performance-of-netty

Hope this helps.

[2012-07-14 18:37] Jiansen commented on #27
Sorry for replying late.

When the reported problem happens to me, socko doesn't crash as I can run ab again without restarting socko.  However, once the crash happened in one ab test, it is very likely that all following ab tests will crash after only a few thousands of requests.

After upgrade netty to 3.5.2, the problem occurs less frequently.  I also believe that the crash is not due to your i

[2012-07-15 21:17] #27 closed, assigned to nobody

[2012-07-16 17:36] Jiansen opened #28 "Benchmark using httperf"
Hi,

When I run the benchmark example using httperf, the performance reaches its bottleneck quickly as I increasing the number of connections.  For example,

$ httperf --hog --server=localhost --port=8888 --uri=/dynamic --num-conns=5000 --timeout=5
test-duration  0.763 s

$ httperf --hog --server=localhost --port=8888 --uri=/dynamic --num-conns=10000 --timeout=5
test-duration  1.610 s

$ httperf -

[2012-07-17 00:17] veebs commented on #28
Hi,

Which os and jvm are u using?

This [link](http://lists.jboss.org/pipermail/netty-users/2011-August/004813.html) suggests that at high concurrency, the os does run out of file descriptors and sockets tend to get stuck in TIME_WAIT.

You may also have to tune your os and jvm as suggested in this [link](http://stackoverflow.com/questions/6856116/why-poor-performance-of-netty).

It would also be

[2012-07-27 23:31] #24 closed, assigned to nobody

[2012-07-29 03:06] #23 closed, assigned to veebs

[2012-08-04 00:12] tovbinm opened #29 "Set correct value for 'child.backlog' in bootstrap"
Now WebServer.scala has:

Line 121:
if (config.tcp.trafficClass.isDefined) {
      bootstrap.setOption("child.backlog", config.tcp.trafficClass.get);
 }

It should be:
if (config.tcp.acceptBackLog.isDefined) {
      bootstrap.setOption("child.backlog", config.tcp.acceptBackLog.get);
}

[2012-08-05 04:45] veebs commented on #29
Thanks @tovbinm.  Fixed now.

[2012-08-05 04:45] #29 closed, assigned to veebs

[2012-08-06 22:48] tovbinm opened #30 "Ignore case comparing http 'Upgrade' header value"
On line 209 in HttpRequestMessage.scala:
Instead:
(upgrade != null && upgrade == "websocket")
Do:
(upgrade != null && upgrade.equalsIgnoreCase("websocket"))

[2012-08-06 23:03] veebs commented on #30
Hi,

This is a duplicate of #22.  Can I ask which client you are using? I think technically, it is meant to be case sensitive.

I'll put out a minor release of Socko so that you get all the minor fixes so far.

Thanks

[2012-08-06 23:03] #30 closed, assigned to nobody

[2012-08-06 23:04] #28 closed, assigned to nobody

[2012-08-07 06:09] tovbinm commented on #30
We are using an Autobahn client (http://autobahn.ws/).

According to W3C:
"HTTP header fields, which include general-header (section 4.5), request-header (section 5.3), response-header (section 6.2), and entity-header (section 7.1) fields, follow the same generic format as that given in Section 3.1 of RFC 822 [9]. Each header field consists of a name followed by a colon (":") and the field value.

[2012-08-07 06:42] veebs commented on #30
Agreed that the field names should be case insensitive, however unless I've misundestood the issue, "websocket" is the field value and can be case sensitive.

According to [RFC 6455](http://tools.ietf.org/html/rfc6455), "The request MUST contain an |Upgrade| header field whose value MUST include the "websocket" keyword."

Any how, the fix is made. I've also released it in v0.2.1.

Thanks

[2012-08-07 15:08] tovbinm commented on #30
Yeah, you're right, Vibul. It seems that I misread, it is only related to field names, not values.

And thanks for the fix.

[2012-08-09 17:28] g-eorge opened #31 "Is socko compatible with socket.io?"
Or do you know of any Scala / Akka based [socket.io](http://socket.io) servers?

Thanks!

[2012-08-14 10:14] ArvinH opened #32 "websocket-sample"
Hi, I'm very newbie in akko and web socket
I have some question, I wonder know if I can pull the html out of the code? ( I run the socko-sample on Github, and in that sample, the html is embedded in “WebSocketHandler” Actor?

another question is, how can I communicate with my original web app if I can't use servlet in socko?
(All I want to do is, using socko to push message to client, like jsp fil

[2012-08-15 06:44] #32 closed, assigned to nobody

[2012-08-16 10:04] yubingxing opened #33 "Why RequestHandler cause IOException?"
18:01:58.030 [New I/O  worker #4] [] ERROR
                                o.m.socko.webserver.RequestHandler  - Exception caught in HttpRequestHandler
java.io.IOException: Connection reset by peer
        at sun.nio.ch.FileDispatcherImpl.read0(Native Method) ~[na:1.7.0]
        at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39) ~[na:1.7.0]
        at sun.nio.ch.IOUtil.readIntoNativeBuf

[2012-08-16 10:07] yubingxing commented on #33
I upload a file to socko server also trigger this exception.

[2012-08-20 09:59] yubingxing opened #34 "The java.io.IOException in netty"
2012-08-16 17:29:34,187 ERROR [New I/O  worker #1] o.m.s.w.RequestHandler [RequestHandler.scala:182] Exception caught in HttpRequestHandler
java.io.IOException: Connection reset by peer
        at sun.nio.ch.FileDispatcherImpl.read0(Native Method) ~[na:1.7.0]
        at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39) ~[na:1.7.0]
        at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.j

[2012-08-20 10:02] yubingxing commented on #34
I had open logger to report the web notification info and exceptions, if this would cause the IOException ?

[2012-08-21 23:22] veebs commented on #31
Sorry for the slow response, github notifications did not send me notification emails!  Will have to checkout my settings.

I'm no expert on socket.io but Socko does web sockets and HTTP requests so it should in theory be able to support socket.io.

[2012-08-21 23:22] #31 closed, assigned to nobody

[2012-08-21 23:26] veebs commented on #34
Hi, sorry for the slow response. GitHub notifications did not send me my notification emails.  I'll have to checkout my settings!

[code]

I think you client maybe closing the connection.  Which client are you using? What are you trying implement?

[2012-08-21 23:28] veebs commented on #33
Which browser, os and jdk are you using?  I've just retested the samples using chrome, ubuntu 12 and jdk 7 and it seems to work for me.

[2012-08-23 00:55] yubingxing commented on #34
Hi, thank you for your response. I use the flash client to connect the server for uploading files, but the client doesn't receive any response, if I use html to upload file, it work fine.

[2012-08-23 01:05] yubingxing commented on #33
I use the same as yours, it seems the file io crashed.

[2012-08-23 03:30] veebs commented on #34
Have u tried using the latest socko 0.2.1? It has a later version of Netty which may fix the problem?  Is there any way to debug the flash client because it seems, from the error, that the flash client is closing the connection for some reason.

[2012-08-23 06:21] yubingxing commented on #34
Yes, I was used the latest socko version 0.2.1, but the exception not only when useing the flash client to upload files, some normal http request would caught that exception, I only open the logger to trace the event. My logback.xml is like this:
<?xml version="1.0" encoding="UTF-8"?>
<configuration>

[code]

</configuration>

[2012-08-23 06:28] veebs commented on #34
Can you try to file upload using netty.  Here's the file upload example program: https://github.com/netty/netty/tree/3/src/main/java/org/jboss/netty/example/http/upload.

Not sure why you are getting a "java.io.IOException: Connection reset by peer" error.  I cannot reproduce it.  How big a file are you uploading?  Also, are you using the socko file upload example app?  If not, can you upload your

[2012-08-23 06:39] yubingxing commented on #34
[code]

[2012-08-23 06:46] veebs commented on #34
Thanks for uploading your code.  When during the upload process does your error appear? Does any code in FileUploadHandler get executed?

[2012-08-23 06:50] yubingxing commented on #34
not only in upload process, I tried normal http request would also caught the IOException.

[2012-08-23 06:59] yubingxing commented on #34
I use chrome to access the use "http://serveraddress/urls/appId/lang", can receive right response, but after few seconds the java.io.IOException would caught in HttpRequestHandler.

[2012-08-23 07:03] yubingxing commented on #34
I think the exception would happen when the HttpRequestHandler receiving the request and logging in the logfile, then the file io was crashed and caught this exception.

[2012-08-23 07:21] #33 closed, assigned to nobody

[2012-08-23 10:29] veebs commented on #34
Hi

So the file uploaded ok and you got a response from the server ?  Then after a few seconds, the error appears?

If so, i think that this may be due to chrome closing the http connection with the server - hence the connection closed by peer error. I think it is normal.

Sent from my iPhone

On 23/08/2012, at 5:03 PM, IceStar notifications@github.com wrote:

[2012-08-25 01:37] yubingxing commented on #34
Thank you for your response, I use the other browser like ie was also cause this.

[2012-08-25 21:26] #34 closed, assigned to nobody

[2012-08-27 22:48] oberstet commented on #30
FWIW, from RFC6455, p18:

"   2.  If the response lacks an |Upgrade| header field or the |Upgrade|
       header field contains a value that is not an ASCII case-
       insensitive match for the value "websocket", the client MUST
       _Fail the WebSocket Connection_."

"WebSocket" is as fine as "wEbSoCkEt" ..

[2012-08-27 23:11] veebs commented on #30
Thanks for pointing this out @oberstet. I did not see that bit of the specs and you are correct. With the pull request associated with this ticket, Socko supports case insensitive comparison in v0.2.1.

[2012-09-01 19:57] samira-t opened #35 "A Question about the design of Socko"
Hello,

I am a Ph.D student at UIUC. I was looking for Akka actor applications/frameworks and found Socko an interesting one. However, while looking into the source code, I found that in some places you used Java language instead of Scala. For example in folder:
[socko-webserver/src/main/java/org/mashupbots/socko/concurrentlinkedhashmap/](https://github.com/mashupbots/socko/blob/master/socko-webse

[2012-09-01 23:25] veebs commented on #35
Hi Samira,

Thank you for taking interest in Socko.

The Java code you are referring to is a library that we use for caching (http://code.google.com/p/concurrentlinkedhashmap/).

Due to shortness of time, we did not have time to port it to Scala.  Also, because a goal of Socko was to limit dependencies to Netty and Akka, we found it easier to just put the Java code into the project (which a change

[2012-09-02 02:17] samira-t commented on #35
Hi Vibul,

Thank you very much for your fast response. I appreciate it!

Cheers,
Samira

On Sat, Sep 1, 2012 at 6:25 PM, Vibul Imtarnasan @vibuli <
notifications@github.com> wrote:

[2012-09-02 05:29] #35 closed, assigned to nobody

[2012-09-03 21:17] samira-t commented on #35
Hi Vibul,

I have one more question: why do you need to have concurrent collection for caching? Do you share that between actors?  Which objects would use that concurrently?

Thanks,
Samira

[2012-09-04 04:04] veebs commented on #35
Yes, it maybe shared between actors.

It is currently used by the [StaticContentHandler](https://github.com/mashupbots/socko/blob/master/socko-webserver/src/main/scala/org/mashupbots/socko/handlers/StaticContentHandler.scala) which maybe run as an akka router.

[2012-09-05 06:11] veebs opened #36 "Problem trying to turn off StaticContentHandler caching"
Setting `serverCacheTimeoutSeconds` keeps the item in the cache indefinitely.  It should have stop caching.  This is because when 0 is passed to the LocalCache, 0 is interpreted as indefinite.

[2012-09-05 22:38] veebs opened #37 "Logback web log namespace error"
WebLogWriter was refactored to `org.mashupbots.socko.infrastructure.WebLogWriter` but our test log back files were not updated.

[2012-09-05 22:40] #37 closed, assigned to veebs

[2012-09-05 23:35] veebs opened #38 "Make StaticContentHandlerConfig immutable"
Current StaticContentHandlerConfig contains mutable config settings for StaticContentHandler.  This was because I was just learning akka!

Let's make it immutable and pass it in as constructor parameter.

The new way to start the router StaticContentHandler in a router:

[code]

[2012-09-06 00:52] veebs opened #39 "Upgrade netty 3.5.6"

[2012-09-06 01:34] #36 closed, assigned to veebs

[2012-09-06 01:34] #38 closed, assigned to veebs

[2012-09-06 05:54] normanmaurer commented on #39
@veebs 3.5.6.Final has a known defect. I just finished the release process for 3.5.7.Final. I will update the version to this once its on maven central.

[2012-09-06 06:11] veebs commented on #39
Thanks Norman.

[2012-09-06 06:13] veebs commented on #39
I'll close this ticket and created issue #40 because I've just release 0.2.2

[2012-09-06 06:13] #39 closed, assigned to veebs

[2012-09-06 06:13] veebs opened #40 "Upgrade to Netty 3.5.7"

[2012-09-07 11:11] yuchangyuan opened #41 "Require a method to know when a websocket is ready to send message back to client"
When the web socket server want to send message to client immediately after connected, RequestHandler will throw exception, see code below:

[code]

but send the message later is ok:

[code]

I believe that this is because the WebSocket is not ready to send message back when handling WebSocketHandshakeEvent, and after 1ms, the initialize work is finished, and it's ok to send message. But there is

[2012-09-08 00:50] veebs commented on #41
What is the Exception that is thrown by RequestHandler?

[2012-09-08 02:05] yuchangyuan commented on #41
[code]

[2012-09-08 03:59] veebs commented on #41
OK.  I think I understand now.

I think the problem is that you are sending a text frame in the handshake event.  This will throw an error because the handshake as not finished.

Yes, we could (and probably should) modify Socko to send a handshake complete event.

However, I not sure that will solve all your problems.  What if you send a text frame after the server thinks handshake is complete but

[2012-09-08 08:20] yuchangyuan commented on #41
In last paragraph of section 4.2 of RFC 6455 , it said that:

[code]

If I understand this correctly, after sever complete the handshake, we can assume that the client is ready to receive text frame, and it should do, according to the spec.

By the way, send a 'registration' message back to server in client's onopen callback can solve the problem, but I feel this is more like a workaround than a s

[2012-09-08 11:25] normanmaurer commented on #40
done!

[2012-09-08 11:25] #40 closed, assigned to normanmaurer

[2012-09-08 11:26] normanmaurer commented on #41
@vibul: Maybe something we want to have in netty directly ?

Bye,
Norman

2012/9/8 Yu Changyuan notifications@github.com

[2012-09-08 13:38] veebs commented on #41
Hi Yu

Thanks for digging up the rfc.

I agree with you that we should have an event for it.

If I have time tomorrow, I will check it in.

I was not trying to push a work around but suggest some defensive programming.

To me, getting a positive confirmation that the client is ready lets me know everything is ok.

V

Sent from my iPhone

On 08/09/2012, at 6:20 PM, Yu Changyuan notifications@github

[2012-09-08 13:41] veebs commented on #41
Hi Norman

Netty does not raise an event as such. It uses the handshaker classes.

Netty coders can just execute their code after calling the handshaker.

In fact, that is exactly how I am planning to implement this new event for Socko.

V

Sent from my iPhone

On 08/09/2012, at 9:26 PM, Norman Maurer notifications@github.com wrote:

[2012-09-09 02:59] veebs commented on #40
Thanks @normanmaurer

[2012-09-09 05:09] veebs commented on #41
Hi Yu,

What do you think of the changes?

[code]

I thought of using a callback because I'm of the thinking that events are more client initiated - hence the need for routing.

In this instance, providing a callback to authorize() seems to make sense because you only want to send data to the client after a successful handshake.

[2012-09-09 05:23] yuchangyuan commented on #41
I think this change is OK and the code clearly show that after "authorize", the handshake might not complete so need an "onComplete" callback.

PS:  Are there any  corresponding changes in the library(I don't find any in commit history)?

[2012-09-09 05:54] veebs commented on #41
Yes. See

https://github.com/mashupbots/socko/commit/ddf65e6b6aae017a88370cb9341dc0c714739457

Will release new socko version when I get a chance tomorrow.

V

Sent from my iPhone

On 09/09/2012, at 3:23 PM, Yu Changyuan notifications@github.com wrote:

[2012-09-09 06:03] yuchangyuan commented on #41
Looking forward for the new release, and hope the new release be published to maven central soon.

PS: Another question, it seems that the socko library on maven central is compiled with java 7, and not works with java 6, are there any reason for using java 7?

[2012-09-10 03:42] veebs commented on #41
Released.  Might have to wait a few hours for the JAR to get to maven central.

I've used Java 7 because
- it seems to run a bit faster.
- SPDY is also only supported on Java 7
- Java 7 now supported on osx

[2012-09-10 03:42] #41 closed, assigned to veebs

[2012-10-05 14:48] samira-t commented on #35
Hi Vibul,

Is Socko a distributed program?

[2012-10-06 23:03] veebs commented on #35
Hi,

Socko is distributed as a binary JAR file but it is not a standalone
executable.  It is a library that you can include in your own programs to
add web server functionality.

Regards
Vibul

On 6 October 2012 00:48, Samira Tasharofi notifications@github.com wrote:

[2013-01-03 20:49] JoshZA commented on #14
Decoding/Parsing of traditional GET/POST data would be awesome to have too

[2013-01-13 05:40] #8 closed, assigned to veebs

[2013-01-19 22:24] veebs opened #42 "Query String, Post Data and File Upload handing"
Add documentation and example for query string handler.
Add wrapper for Post data handling along with examples and documentation.
Update file upload example.

[2013-01-20 01:52] veebs commented on #42
Note that with this change, the default character set encoding for HttpContent.toString has changed from UTF-8 to ISO_8859_1 as specified in http://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html section 3.7.1

[2013-01-20 01:52] #42 closed, assigned to veebs

[2013-01-20 01:55] veebs commented on #14
@Fauxide Just added more doc and examples of query string, post form data and file upload in #42 if you are interested.  This issue is the next on my list.

[2013-01-20 04:50] JoshZA commented on #42
@veebs Thanks! I must just say that, hiding this in endpoint is a bit unintuitive

[2013-01-20 23:14] veebs commented on #42
@Fauxide I was thinking the query string is part of the URI so to me, it seems to fit with endpoint.  Happy to be persuaded otherwise.  Where would you recommend we put it?

[2013-02-02 02:43] veebs opened #43 "v0.2.4 tidy up"
Tidy up docs and remove warnings

[2013-02-02 04:03] #43 closed, assigned to nobody

[2013-02-10 04:43] veebs opened #44 "Remove java code for NPN and concurrentlinkedhashmap"
Originally put the code into socko namespace because I wanted to limited dependencies.  In hindsight, these are 2 libs are very specific and will unlikely cause any conflicts.  For v0.3.0, I've now added the jars as dependencies.

[2013-02-10 04:58] #44 closed, assigned to veebs

[2013-02-10 11:54] veebs opened #45 "Add tool to watch the file system for changes and run a build file"
Helpful during development of html and javascript apps.  Typically have build file to concat/compress javascript and html files.

It is a pain in the arse to manually run the build after every change in a file in order to view the changes in the browser.  This tool watches the file system for changes and runs the build for you.

[2013-02-10 12:00] #45 closed, assigned to veebs

[2013-02-10 12:04] pvorb commented on #45
:+1:

[2013-03-13 13:34] thoepfner opened #46 "Published artifact not compatible with Java 6"
The 0.2.4 artifact in the central repository contains some classes which are compiled for java 7 only, so you cannot use it with java 6.

It would be nice, if you could publish a version that is compatible with java 6.

[code]

[2013-03-13 21:49] veebs commented on #46
Hi,

We need JDK7 in order to support Next Protocol Negotiation for SPDY. http://wiki.eclipse.org/Jetty/Feature/NPN.  As such, we've only compiled socko with JDK 7.

Are you planning to use SPDY? If not, and other users are in the same boat, what do you think if we move SPDY support into a separate project and compile the core in JDK6.

[2013-03-13 22:10] pvorb commented on #46
@veebs Outsourcing SPDY sounds like an elegant solution.

[2013-03-14 08:35] thoepfner commented on #46
Sounds good to me, too!

[2013-03-22 00:09] trevex opened #47 "Authentication of WebSockets with Session"
I hope this is the right place to ask this. I am fairly new to scala, but in need for a lightweight way to handle WebSockets I stumbled upon socko. The question is - even after digging through the API I couldn't figure out - how I would go about and use/reuse sessions with socko.

The problem is as follows:
LoginSocketHandler - Everybody can connect and issue logins
AuthorizedSocketHandler - Only

[2013-03-24 16:56] #47 closed, assigned to nobody

[2013-03-24 22:29] veebs commented on #47
@trevex Sorry for the late response.  Did you manage to find a suitable resolution?

[2013-03-25 00:02] trevex commented on #47
@veebs I decided to leave it for now and comeback if the question persists after finishing more reading (what I should have done in the first place). As I said, I am fairly new to the JVM environment and Netty and Akka coming from C++ and graphics programming (games) and recently finished a webgl game prototype. The prototype's backend was written using node.js. To elaborate if the JVM would be a

[2013-04-03 08:00] pr1001 commented on #46
I also would like JDK6 support for the core. Placing SPDY in another project would be fine by me.

[2013-04-03 08:29] veebs commented on #46
Sure. I will look to do it after the REST handler I am currently working on.

Hopefully in the next few weeks.

V

On 03/04/2013, at 7:00 PM, Peter Robinett notifications@github.com wrote:

[2013-04-03 09:01] thoepfner commented on #46
FYI: I was able to compile master (was at abdc4607bf0947e6033af9b713ee78bc33768916 back then) using java 6 with no problems. The resulting artifact works fine for what I'm doing.

This is what I did on MacOS X 10.7:

Change build.scala to use:

[code]

and

[code]

Comment out the pgp plugin in plugins.sbt:

[code]

Build and publish local artifact:

[code]

Update dependency in your actual projec

[2013-04-03 09:03] thoepfner commented on #46
Simplification: Changing of javacOptions is probably not necessary, when you ensure you're building with java 6 and not cross-compiling from java 7.

[2013-04-03 10:05] veebs commented on #46
Thanks Timo.  Appreciate the tip.

On 3 April 2013 20:03, Timo Höpfner notifications@github.com wrote:

[2013-04-03 10:26] thoepfner commented on #46
You a very welcome. Thanks for the great library! :smile:

Timo

[2013-04-15 12:55] analytically opened #48 "NullPointerException within RequestHandler"
Getting this npe when following the example, no idea what's wrong here.

[code]

[2013-04-19 07:27] veebs commented on #48
Sorry for the late response, but I did not get a GitHub email on this issue. Which example are you following?

[Edit: I did get the email notification but I missed it. Sorry. My inbox is way toooooo long.]

[2013-04-28 11:39] veebs commented on #46
Modified build to make the webserver and rest sub-projects compile to jdk 6

[2013-04-28 11:39] #46 closed, assigned to nobody

[2013-04-28 11:40] #14 closed, assigned to nobody

[2013-05-02 15:20] JoshZA opened #49 "Websocket timeout"
I'm running into occasional instances of the following with socko 0.2.4

I haven't had an opportunity to look at the code but I assume you do the whole ping/pong process.

Is there some sort of timeout or check that I could set to resolve this issue?

[code]

[2013-05-02 23:32] veebs commented on #49
Can you give me some information surrounding when you get this issue?
1. Are you connecting with a browser or another type of ws client?
2. How long before you get this ClosedChannelException error?
3. Do you know if it is the client closing the socket? Or is it the server?

This will help me understand where the problem is.

Ping/Pong are supported but there are not automatically fired by Socko.

[2013-05-02 23:36] veebs commented on #46
@thoepfner @pvorb Hi, If you have time, would you mind helping me download the latest v0.3.0 of Socko to see if the changes for JDK 6 compatibility worked? Just that I don't have a JDK 6 machine handy to test.

I've also added a REST handler which I've also built for JDK 6. Keen to hear your feedback.

Thanks.

[2013-05-03 07:06] JoshZA commented on #49
1. Latest chrome stable
2. Around 10 minutes it seems (ideally just lowering this would be awesome)
3. I don't know but the client uses this https://github.com/joewalnes/reconnecting-websocket, and chromes console shows no JS errors

The system is just 1 client connected to a server 30ms away, the connection should be really stable

[2013-05-03 07:32] veebs commented on #49
To summarise, it works with Chrome but when you use it with  https://github.com/joewalnes/reconnecting-websocket, there is a time out after 10 minutes?

Is this correct?

I am just trying to re-create the issue.

Thanks

[2013-05-03 07:41] JoshZA commented on #49
It's set to a timeout of 2 sec, which works reliably if I restart socko in app or if i restart the jvm.
It should be safe to assume the same behavior occurs without the reconnecting websocket;I was just trying to illustrate that it's most likely not the client from a high level view, unless perhaps related to chromes underlying implementation

[2013-05-03 11:15] veebs commented on #49
OK. You don't think it is the client. Can you please give me your exact scenario or show me some code so I can try to replication your problem.

Thanks.

[2013-05-03 15:07] JoshZA commented on #49
It's basically your websock example code, a single client connects to a single server, the server after about 2 minutes releases a burst of sock data, around 5 minutes later the client selectively POSTs data a few times. The timeout always seems to happen before the burst (ie. no server->client) and the client aside from post requests sends no websock data (aside from the underlying chrome socket

[2013-05-03 16:00] quasimedisance commented on #48
Hi,

With these in my SBT Build, everything compiles and runs happily:

[code]

However, I get the following when calling it from localhost:8888

[code]

I simply follow the example on your Git repo along the lines of

[code]

[code]

[code]

[2013-05-05 16:37] veebs commented on #49
I tried the websocket chat example with 2 browser instances (chrome and firefox) and the socket was up for over 1 hour without timeout.  I am running on ubuntu with JDK 7.

Can you share some of your code so I get some understanding of what you are doing?

[2013-05-06 16:52] veebs commented on #48
@quasimedisance  I'm trying to recreate your problem. Which os and JDK are you using?  I''ve just tried the example hello app on my ubuntu open jdk 7 again and it seems to be working.   Thanks

[2013-05-07 07:36] quasimedisance commented on #48
@veebs I'm using the following:

[code]

When I cloned the entire Socko repo and ran the example from within it, everything seems to work.

However, when I embed the very same example in my Scala app, it fails.

Cheers

[2013-05-14 02:22] veebs commented on #48
@quasimedisance @analytically

Sorry it took a while. I was in conference mode last week.

I've setup a sample hello world app at https://github.com/mashupbots/socko-bootstrap/tree/master/hello. SBT for the project has been configured to use the JARs from maven.

I'm not getting your NullPointerException.

It would be a great help if you can clone the repo and try it out.

Are you using Scala 2.10

[2013-05-14 02:23] veebs commented on #49
@Fauxide ping

[2013-05-15 13:47] JoshZA commented on #49
Thanks for the help @veebs, I don't think we'll be able to reproduce this even with my code (as I can't reproduce it)
I've updated netty to it's latest version, and I suspect the issue has been fixed. If it does reappear I'll make changes to socko directly.

Thanks for all the assistance, very much appreciated!

[2013-05-15 13:47] #49 closed, assigned to nobody

[2013-05-20 07:25] quasimedisance commented on #48
@veebs

It works now. Cheers!

[2013-05-20 07:32] veebs commented on #48
@quasimedisance Thanks for helping test it out.

[2013-05-20 07:32] #48 closed, assigned to nobody

[2013-05-27 00:10] veebs opened #50 "Timeout keep-alive connections"
Use  IdleStateHandler to timeout keep-alive connections so that we don't have too many connections left open.

[2013-06-08 12:52] veebs opened #51 "Initiate HTTP/S and SPDY connections from Socko"
Raised by Tsume...

My question is it possible to have Socko initiate messages? To give a better explanation I have 2 socko webservers on separate machines & I'd like for them to communicate with each other. But for this I would need for one of the webservers to initiate the connection.

My best guess would be to setup the webservers as remote actors, but I would like the webservers to communicate

[2013-06-10 18:25] Bongani opened #52 "Creating a unique key map from a WebSocketFrameEvent"
Hi

I'm looking to create a map which will link a key value to a WebSocketFrameEvent. I use JSON to send messages, so the key value will need to be a string. I'd like some advice given WebSocketFrameEvent what properties I can use to cast to a string which will create a unique key?

[2013-06-10 23:04] veebs commented on #52
You may want to try the channel it: channel.getId

Another, and perhaps a better idea, is to handle it at the application
level. The channel maybe disconnected by network failures for example. If
you perform some handshaking so that the client and server agree on a
"session id", you can then send the session id in your JSON message. In
this way, if the channel ever gets disconnected, you can re-es

[2013-06-12 11:19] thoepfner commented on #46
Sorry for the late answer. I just tested it and socko-webserver 0.3.0 from Sonatype now works fine with Java 6. Thanks a lot!

[2013-06-12 13:01] veebs commented on #46
Thanks :-)

On 12 June 2013 21:19, Timo Höpfner notifications@github.com wrote:

[2013-06-19 08:44] pr1001 opened #53 "Feature Request: Easy Testing Hooks"
I'm quite stumped how to test my Socko app, particularly if I want to make a request and test that the response returned from `event.response.write()` is correct. Would it be possible to add some functionality to Socko to make such testing easier?

[2013-06-19 10:36] veebs commented on #53
Hi,

To test the output from `event.response.write()`, I just startup the web server and start sending HTTP requests at it.

I've written Socko tests using this strategy.  See https://github.com/mashupbots/socko/tree/master/socko-webserver/src/test/scala/org/mashupbots/socko/handlers.

I've got a trait called `TestHttpClient` that I add to my test cases. For usage, see [StaticContentSpec.scala](ht

[2013-06-20 12:06] pr1001 commented on #53
Thanks, I later found those tests and went that route. It will still be nice to be able to test at the `HttpRequestEvent` level, though. I having an intermediate actor like you describe is the best solution for now.

[2013-06-20 12:06] #53 closed, assigned to nobody

[2013-07-05 20:26] Bongani commented on #52
Sorry Vibul for the late response (I went on vacation and left all my work hanging).
I tried your method last night and it did work.

[2013-07-12 11:19] pvorb opened #54 "WebSockets: WebSocketFrameEvent.writeBinary() missing type parameter"
The method `WebSocketFrameEvent.writeBinary(binary: Array[Byte])` doesn't have a type parameter. When I receive messages on the client that contain binary data, these messages have a `data` property of type `Blob`. This `Blob` type also has a type property, which seems to always be `"text/plain"` when using Socko. Is there a way to change the type of binary messages to something different?

I am s

[2013-07-15 04:11] veebs commented on #54
Hi,

The websocket standard does not cater for a mime type in a binary frame. See http://tools.ietf.org/html/rfc6455

Hence, there is no  MIME type in the socko and netty API.

Which client are you using?  Can you send the mime type in a separate frame?

[2013-07-15 08:44] pvorb commented on #54
Hi,

well, if that's not in the spec, I have to live with it. I use plain browser JavaScript WebSockets (in Chrome). When opening a WebSocket, the browser assumes `binaryType` to be `'blob'`. I can also change that to `'arraybuffer'`.

[code]

But Blobs are better for my use case, so I'll have to live with the consequences.

[2013-07-15 23:48] #54 closed, assigned to nobody

[2013-07-25 23:28] conikeec opened #55 "UberJar bundling of SockoWeb and passing external configuation and logback handling"
I am currently bundling socko in a uber-jar via sbt-assembly with the main class specified and abstract the uberjar in a startup script.

java -jar mysockwebserver.jar

I would now like to pass the application.conf and logback.xml as external configuration to mysockwebserver.jar

java -jar mysockwebserver.jar -Dconfig.file=application.conf -Dlogging.file=logback.xml

How would I go about doing thi

[2013-07-27 04:20] veebs commented on #55
Hi,

Socko uses the configuration form Akka.  Here's the link for customising Akka configuration path: http://doc.akka.io/docs/akka/2.1.4/general/configuration.html#Reading_configuration_from_a_custom_location

A simple way that I've been using is to use the path from the system properties variable, read the file as a string and then pass the contents of the file to akka as follows:

[code]

For l

[2013-07-29 12:19] ychaze opened #56 "Incompatibility with Google guava"
I can't reference the `StaticContentHandlerConfig` class as it fails to compile. My understanding is that the `LocalCache` class used by this config class is not compatible with the `LocalCache` class defined by google in its guava libraries.

Here is the compiler output:

[code]

[2013-07-29 20:51] conikeec commented on #55
Hi Vibul

Thanks for the detailed note.

The application conf setup (as you recommended above) works !

However I am not able to get the logback config to work. I had an external logback passed to the jar (with a different file system path) and for some reason it still picking the path from the logback.xml embedded in the uberjar

[2013-07-29 23:20] veebs commented on #55
Here are some more links on logback that may help

http://stackoverflow.com/questions/6699537/how-to-use-multiple-configurations-with-logback-in-a-single-project

http://stackoverflow.com/questions/14288623/logback-externalization

[2013-07-29 23:24] veebs commented on #56
Hi,

That class relies on concurrentlinkedhashmap.  https://code.google.com/p/concurrentlinkedhashmap/

The dependency  is listed in build.scala:

[code]

Have you included that JAR in your classpath?

[2013-08-05 19:58] Bongani opened #57 "Path Segments"
Hi,
I get an error when using path segments with a variable being the leading segment

case PathSegments(nodeID :: "storage") => {
        wsHandshake.authorize();
      }

The error is "type mismatch; found : java.lang.String("storage") required: List[String]"

When I exchanged the string "storage" for a List I still got an error

case PathSegments(nodeID :: operationList(0)) => {
        wsHands

[2013-08-05 23:14] veebs commented on #57
Hi,

I think you need to use `nodeID :: "storage" :: Nil`

I think Scala needs to explicitly know that you are trying to match a list.  Using `Nil` as an empty list does the trick.

Vibul

[2013-08-11 19:53] simbo1905 opened #58 "not sure where to discuss the approach socko takes to websockets"
Hey really sorry to raise an issue for this; but where do I go to discuss socko usage? For example trying it out it seems a bit unexpected that the websockets examples use an actor which stops itself rather than doing something eventbus/futures based to throw websocket traffic at more permanent actors. Reading blogs and the like I really don't see where to go to ask questions about such design poi

[2013-08-12 04:40] veebs commented on #58
Hi,

You've come to the correct place.  I've not setup a forum as yet.  If there
is more demand I will.

The examples are simplified to help with understanding.

You can certainly throw websocket traffic at more permanent actors.  What I
would recommend is to implement a FSM in the actor that receives the
websocket traffic.  The FSM would:
1. Send web socket traffic at permanent actors and set the

[2013-08-14 06:25] simbo1905 commented on #58
Thanks for the answer.

It seems I need 1500 reputation on stackoverflow to create a 'socko' label to one of my questions here:

http://stackoverflow.com/questions/18224528/is-it-a-good-idea-to-use-sec-websocket-key-to-identify-the-websocket-client-conn

I see you have >1700 reputation perhaps you are able to add the label to my question to kick start the community for socko? :-)

[2013-08-19 07:43] conikeec commented on #55
The Logback issue finally worked.
It had to do with relative path

http://www.baptiste-wicht.com/2010/08/do-not-use-relative-path-with-logback/

java -Dlogback.configurationFile=/path/to/config.xml (works)
java -Dlogback.configurationFile=config.xml in same folder does not work

I will soon be blogging about our experience with Socko.
I am throughly pleased with the framework

[2013-08-19 07:43] #55 closed, assigned to nobody

[2013-08-23 18:51] Bongani commented on #57
Thanks

[2013-08-23 18:51] #57 closed, assigned to nobody

[2013-08-23 19:24] Bongani opened #59 "Benchmarking socko"
I need to conduct benchmark tests on my socko web server & I'm not sure which tools to use. I need benchmark the latency of the server (I'm using SPDY) & the load which the server can handle.

Is there any tool out there which can benchmark a server which uses SPDY?

[2013-08-27 09:54] veebs commented on #59
Have a look at this link: http://sockoweb.org/2012/07/19/benchmark.html

Here's also how you can tune the JVM: http://sockoweb.org/2012/08/26/performance-tuning.html

Let me know your results!

Thanks
Vibul

[2013-09-22 13:03] veebs commented on #58
Until there are more people talking about Socko - I'll leave it out of stackover flow.  I don't want to bother them for now.

If you want to ask more questions, just raise more issues here.

Thanks for the thought.

Vibul

[2013-09-22 13:03] #58 closed, assigned to nobody

[2013-09-22 13:04] veebs commented on #56
Hi @yann, Did it work for you?

[2013-09-22 13:08] veebs opened #61 "Update Depdendancies"
Upgrade to Scala (2.10.2), AKKA (2.2.1) and Netty (3.7.0.Final)

[2013-09-22 13:10] #61 closed, assigned to veebs

[2013-09-24 12:04] simbo1905 opened #62 "websocket session tracking"
is there something in socko to answer this question:

http://stackoverflow.com/questions/18224528/is-it-a-good-idea-to-use-sec-websocket-key-to-identify-the-websocket-client-conn

specifically session state could be held in an akka actor suggesting that I should create an actor with the secWebSocketKey as the path/ID of the actor.

[2013-09-25 10:15] Bongani commented on #52
I'm using Eventsourced to log the WebSocketFrameEvent on my server but I'm facing an issue. I opened an issue on the Eventsourced forum:

https://groups.google.com/forum/#!topic/eventsourced/ovyKZw3JYGs

[2013-09-25 10:51] veebs commented on #62
@simbo1905 I've left answer on stackoverflow.

[2013-09-28 15:07] Bongani commented on #59
Hi Vibul, I'm still in the process of benchmarking my system and I've noticed something strange when I use websockets. When I get to 2000+ requests I get an error, which I'll paste down below. Could you explain why this happening?

[error] Exception in thread "pool-2-thread-1" java.lang.InternalError
[error]     at sun.misc.URLClassPath$JarLoader.getResource(URLClassPath.java:815)
[error]     at s

[2013-09-28 15:33] adrien-aubel commented on #59
@Bongani Maybe you need to increase your maximal number of opened file descriptors when doing a lot of parallel requests.
See http://www.cyberciti.biz/faq/linux-increase-the-maximum-number-of-open-files/ for more information about how to do that.

[2013-09-28 17:12] Bongani commented on #59
Thanks Adrien, it seems like that did the trick

[2013-09-28 19:06] Bongani commented on #59
Well the exception which was been thrown is gone but now when I continue benchmarking and do more than 2500 websocket requests the error ratio of response expected for each request is 100% i.e. for each request I'm not receiving a response. Has anyone benchmarked the Socko websockets to this extent?

[2013-09-28 22:42] veebs commented on #59
@Bongani , there some performance tips I got from the Netty guys. http://sockoweb.org/2012/08/26/performance-tuning.html.  I includes increasing your file descriptors as kindly recommended by @adrien-aubel.

How are you performing your web socket tests?  Which tool(s) are you using?

[2013-09-29 01:00] Bongani commented on #59
@veebs I used JMeter with the WebSocket Sampler plugin http://stackoverflow.com/questions/16152648/websocket-plugin-for-jmeter

[2013-09-29 06:42] veebs opened #64 "Firefox does not connect to web socket"
Firefox 24 sends "Connection: keep-alive, Upgrade" rather than the expected "Connection: Upgrade".

Why????

[2013-09-29 07:00] veebs opened #65 "FileUpload and WebSocket Chat not working after Netty 4 Upgrade"

[2013-09-29 07:00] #64 closed, assigned to nobody

[2013-10-07 22:54] Bongani commented on #59
I just did a websocket benchmark against node.js & the issue of requesting over 2500 was the same here. So this issue is with JMeter, not Socko. To overcome this issue I'm gonna run a distributed JMeter test with the JMeter slaves all pointing at the same server, hopefully this well overcome the issue.

[2013-10-07 23:12] veebs commented on #59
That's good to know. Thanks @Bongani

[2013-10-07 23:32] veebs commented on #52
Hi,

You can get the data from the web socket frame event readBinary or readText method.  If you log the data and not the frame event, it may work.

Regards
Vibul

[2013-10-08 20:50] Bongani commented on #52
Hi Vibul,

You may have misunderstood. I am get data from the WebSocketFrameEvent using readText. What I'm currently doing is when a client request a service which is outside my Socko service I put the client WebSocketFrameEvent in a map, so when the service outside Socko finally has a response for the client it can use the WebSocketFrameEvent in the map to send a response. This all works well. Th

[2013-10-11 15:02] Bongani opened #67 "Detecting if a websocket has been disconnected"
This is in concern with something I'm planning on doing in the near future. I was wondering how does Socko deal with a client websocket which has been disconnected  unexpectedly.

Take for example a client which I push data periodically through the websocket. If the client was to fail, how would I know the websocket is no longer operational? Is there a method I can use to check if the websocket is

[2013-10-14 01:01] veebs commented on #67
I can't remember exactly, but I believe that you will get a ChannelClosedException.

Just try it out ... establish a web socket connection with a browser, close the browser and then try to send a message to it.

Let me know if this works for you.

Thanks.

[2013-10-15 00:45] techdubb opened #68 "Non deterministic reflection errors on start up"
When using the RestRegistry class, 3 out of 5 times I get reflection related errors on startup. Have you run into anything like this?

[code]

Also, the class that's not found changes between RestRegistration, RestRequest, RestResponse and NoSerializationRestResponse (the initial lines of the RestRegistry class). I'm using socko-webserver_2.10 - 0.3.0 and socko-rest_2.10 - 0.3.0.

Any help would b

[2013-10-15 01:24] veebs commented on #68
Hi,

I've not seen this issue myself.

However, I may have something to do with reflection is tagged as experimental.  I made this note in the [user guide](http://sockoweb.org/docs/0.3.0/guides/dynamic-content.html#Rest):

This module relies on Scala reflection. Reflection is tagged as experimental in Scala 2.10. There is also an issue with [thread safety](http://docs.scala-lang.org/overviews/refl

[2013-10-15 01:28] veebs commented on #52
Hi,

OK.  Understand now.  I think what we need is the ability for an actor to request a connection based on a connection ID of some sort.  In this way, you only need to keep track of the id and request the connection as needed.

Would that work for you?

[2013-10-15 03:45] techdubb commented on #68
Ah. I think I figured it out.

I did see the note in the user guide, and had thought I was instancing RestRegistry in a single thread, but I was actually calling a library that was starting up an actor just before. Making that library call after the instancing straightened things out.

Thanks for reiterating the issue with thread safety. It forced me to re-step through my code. :+1: :smile:

[2013-10-15 04:24] veebs commented on #68
Great to hear it is now working :-)

[2013-10-15 04:24] #68 closed, assigned to nobody

[2013-10-17 18:10] konstantin-azarov opened #69 "No way to issue two headers with the same name"
Hi,

I wonder whether I'm missing something, but it looks to me that there is no way to issue two headers with the same name using HttpResponseMessage, since the headers field there is a HashMap. This basically prevents setting more than one cookie in a server response, since every cookie requires its own Set-Cookie header. An easy way to fix this is to make HttpResponseMessage.headers a MultiMap,

[2013-10-18 15:11] thirstycrow commented on #69
A quick walkaround is to create a netty response object and send it with
the underlying netty channel, which is exposed by the channel property of
HttpRequestEvent's.

On Fri, Oct 18, 2013 at 2:10 AM, konstantin-azarov <notifications@github.com

[2013-10-20 17:05] Bongani commented on #67
The exception is the ClosedChannelException. When I put try and catch statement around the block  which sends messages to a closed  websocket the catch statement does not get called. Which is strange, I did another test where I threw exceptions inside the block & successfully caught them, but for the case of catching a statement of writing to a closed websocket this did not work. Do you happen to

[2013-10-20 17:17] Bongani commented on #52
Hi @veebs , that seems like it would work.
How would I go about achieving this?

[2013-10-20 20:23] veebs commented on #69
@konstantin-azarov Yes, you are correct.  This is a mistake on my part. We'll have to change it in the next release (which I'm hoping to get sometime to work on in the next week or two).

[2013-10-20 20:26] veebs commented on #67
@Bongani OK - I think it got thrown in the "future".  I'll look at ways to detect closed connections from within the Socko api in the next release.

[2013-10-20 20:27] veebs commented on #52
@Bongani I'll have to look into it for the next release. We'll keep you posted.

[2013-10-22 09:30] veebs commented on #65
Fixed in pull request #66

[2013-10-22 09:30] #65 closed, assigned to thirstycrow

[2013-10-22 10:50] veebs commented on #69
@konstantin-azarov I'm starting to work on this now.  I saw some code in github at https://github.com/Asana/socko/commit/6f4a5f0e22611692c658e340d40ec8748bc0a528.

Is this yours? If so, do you mind if I borrow bits of it?  I'll need to also make mods for HttpRequestMessage for consistency.

Thanks

[2013-10-22 11:02] veebs commented on #52
@Bongani I've got an idea to solve this and your closed web socket connection issue using Netty ChannelGroup http://netty.io/4.0/api/io/netty/channel/group/ChannelGroup.html.  I'll work on it over the next few days.

[2013-10-22 11:04] #62 closed, assigned to nobody

[2013-10-22 11:21] veebs opened #70 "Support for overriding swagger documentation gained from reflection by providing details in config file"
Overrides can be specified now be specified in your config file

[code]

[2013-10-22 13:30] Bongani commented on #52
@veebs thanks for the update

[2013-10-22 17:22] konstantin-azarov commented on #69
Oh, sorry. I intended to include it in the bug description, but forgot. Feel free to do whatever you need with it.

[2013-10-23 21:58] veebs commented on #69
I decided to create a new collection class with some methods from the old HashMap - so we can be backwards compatible as much as possible.

The `put` will behave as per a HashMap where all instances of a header will be replaced with the new value.  Use `append` to add multiple headers with the same name.

I also made the `get` case insensitive as per RFC 2616.

@konstantin-azarov Will this work fo

[2013-10-24 20:43] konstantin-azarov commented on #69
This sounds great. Thanks!

[2013-10-25 03:16] #69 closed, assigned to veebs

[2013-10-27 15:37] marsxu1984 opened #71 "I can't handler CloseWebSocketFrame event"
I check the code, CloseWebSocketFrame had been handle in socko framework.
And I can't get any connect close event.

/home/mars/project/socko/socko-webserver/src/main/scala/org/mashupbots/socko/webserver/RequestHandler.scala
Line 136.
if (wsFrame.isInstanceOf[CloseWebSocketFrame]) {
          // This will also close the channel
          wsHandshaker.close(ctx.channel,     wsFrame.asInstanceOf[Clos

[2013-10-27 15:42] marsxu1984 opened #72 "ReflectUtil don't check some scala class will contain "$" in classname"
I find this bug when I use socko-rest framework.
Some time the reflect will not success, because classname has "$" tag, and won't load into jvm with package full namespace?

[2013-10-27 22:36] veebs commented on #72
Can you please give us an example?

Also, have you  instancing RestRegistry in a single thread?

[code]

[2013-10-27 22:43] veebs commented on #71
OK.  We'll look at this for the next release.

[2013-11-08 23:54] chiappone opened #73 "Does Socko support Basic Authentication"
I couldn't find any info about Basic Authentication using socko.  Is this supported?

[2013-11-11 21:55] veebs commented on #73
No - basic authentication is not supported out of the box.

You can always handle it yourself using returning a 401 and then processing
the incoming the Authorization request header.
http://en.wikipedia.org/wiki/Basic_access_authentication

On 9 November 2013 10:54, chiappone notifications@github.com wrote:

[2013-11-17 23:30] Bongani commented on #51
If a server needs to initiate the connection, would it no possible to have an actor in that server to use Jetty? I think what needs to be raised further is if an application can have a mix of Netty (Socko in this case) and Jetty. I have tried to find information on how an application can initiate a SPDY connection but I have yet to find a nice clean example as I have seen with as I have seen with

[2013-12-12 15:37] timothyhahn commented on #71
Hey, firstly I'd love to say the library is great and I'm enjoying using it so far. I know you're probably busy on getting Netty 4 integrated, but do you have an idea of when you'll have a fix for this? Or a workaround that can be used for now? I feel like knowing extremely quickly whether a client has disconnected or not is really important, and in the mean time I haven't been able to come up wit

[2013-12-12 19:43] veebs commented on #71
Sorry for being slow on this ... my day job has been hectic again.

I am having time off over Christmas/new year. I'll get back to socko then.

Part of the problem with this issue is that to tell you a connection is closed, we have to identify it first. I was hoping netty would bring back a channel id - but that was implemented for a future release. Looks like for netty 4, we'll have to invent our

[2013-12-12 19:47] timothyhahn commented on #71
Understood, I thought that was probably the case.

That seems like that should work. The id is your own implemented channel id?

[2013-12-12 20:36] veebs commented on #71
Yes - I'm thinking when a channel connects, I have to add it to a map with
an id (guid).  I'll also save the id in the channel so that I can access
the id upon disconnect.

On 13 December 2013 06:47, Timothy Hahn notifications@github.com wrote:

[2013-12-17 15:07] Bongani opened #74 "SPDY not performing as expected with the StaticContentHandler"
I've been testing Socko with its different connection layers (HTTP, HTTPS and SPDY). I used the benchmarking code provided on the website, all I did was change the  connections. I used http://www.webpagetest.org/ to test the latency.

Of course HTTPS had a more an overhead than HTTP because of the connection time. But when I tested SPDY, SPDY had more of an overhead than HTTPS. I found this to be

[2013-12-17 21:43] veebs commented on #74
Hi,

For caching with the static content handler, see configuration http://sockoweb.org/docs/0.3.1/api/#org.mashupbots.socko.handlers.StaticContentHandlerConfig.

The `browserCacheTimeoutSeconds` property uses the `Expires` and `Cache-Control` HTTP headers to control browser side caching.  Can you please check if your browser correctly received these headers in the response.

If you images are onl

[2013-12-18 22:10] Bongani commented on #74
Hi @veebs ,

It seems caching was being done. I just discovered that WebPagetest judges a good cached site if the expiry date is more than 30 days. So that was my mistake.

But despite me playing around with the configuration file, a SPDY connection still seems to exhibit a higher latency than a standard HTTPS connection. Would you happen to know why this is happening?

Also, thanks for the work y

[2013-12-20 20:38] Bongani commented on #74
I've tried different variations of the StaticContentHandler (i.e. changing the type of dispatcher used) but still SPDY seems to be performing the same as with a HTTPS connection. Excuse the multiple posts, it is kind of urgent for me to figure this out as I'm planning a live demo early January.

As I pointed out in my first post, SPDY seems to perform as expected when I'm not using the StaticConte

[2013-12-20 20:49] veebs commented on #74
Just trying to understand your issues with SPDY.

Can you please explain in detail the tests that you ran to compare SPDY with HTTPS and the results you got.

Thanks

[2013-12-21 10:17] Bongani commented on #74
Hi @veebs,

My issue is that SPDY is not showing the performance I was expecting i.e. loading a webpage faster. The tests where performed using webpagetest. I used the socko benchmark app to load up a website with several pictures. On each run I tested a different type of connection: HTTP, HTTPS and SPDY. SPDY shows the same wbe page load time as HTTPS. Here is a link to each result:

HTTP: http:/

[2013-12-26 11:15] veebs commented on #74
I'm not too sure of the reasons but I've just committed an update that will support SPDY 3 and 3.1.  Maybe these are faster.

I'll need to write more test cases before I can release it.

[2013-12-29 11:35] veebs commented on #71
All web socket connections now stored in `webserver.webSocketConnections`.

You can use `webserver.webSocketConnections.isConnected(myWebSocketId)` to check if a connection is connected or closed.

You can also pass a callback function to `authorise()` that will be called when the connection is closed.

[code]

[2013-12-29 11:35] #71 closed, assigned to veebs

[2013-12-29 11:38] veebs commented on #52
All web socket connections now stored in `webserver.webSocketConnections`.

You can use `webserver.webSocketConnections.isConnected(myWebSocketId)` to check if a connection is connected or closed.

To push messages to a specific web socket, you can now use  `webserver.webSocketConnections.writeText("Hello", myWebSocketId)`.

`myWebSocketId` is provided in the `WebSocketHandshake` event
as well as

[2013-12-29 11:38] #52 closed, assigned to veebs

[2013-12-29 11:39] veebs commented on #67
All web socket connections now stored in `webserver.webSocketConnections`.

You can use `webserver.webSocketConnections.isConnected(myWebSocketId)` to check if a connection is connected or closed.

You can also pass a callback function to `authorise()` that will be called when the connection is closed.

[code]

[2013-12-29 11:39] #67 closed, assigned to veebs

[2013-12-30 00:21] veebs commented on #50
Added `idle-connection-timeout` to the configuration.

Defaults to 0 which indicates NO timeout.

[2013-12-30 00:21] #50 closed, assigned to veebs

[2013-12-31 09:47] simbo1905 opened #75 "api change design question: passing webServer.webSocketConnections to actors"
With the 0.4.0 api changes what is the canonical way to pass webServer.webSocketConnections to worker actors? With 0.3.0 I was passing the jboss channel from the handshake with a 'register' message to my workers which would write out to the sockets. Now with 0.4.0 I am sending the webServer.webSocketConnections to the main worker actor to initialize it. Take a look at line 147 in this https://gith

[2014-01-01 22:03] simbo1905 commented on #75
p.s. if you were to create a socko tag on stackoverflow i would ask questions there rather than raise issues ;-)

[2014-01-02 17:07] simbo1905 commented on #75
I tried an approach of using an ask in the routes to get a response from business logic actors. This has the problem that you have to define the routes first to pass them into the constructor of the webserver. As the webserver does not yet exist you cannot use webserver.webSocketConnections in the routes. You get compile errors such as "forward reference extends over definition of value routes". I

[2014-01-02 17:45] simbo1905 commented on #75
I have solved this with using a var to hold the webServer which can be seen at line 64 here:

https://github.com/simbo1905/planning-poker/blob/v0.6/src/main/scala/scrumpoker/server/ScrumPokerApp.scala

This allows the routes to use the var at lines 99 and 117 to push responses from asking the worker actors.

Can the api be enhanced so that there is a way in the routes to lookup the webserver to in

[2014-01-02 17:47] #75 closed, assigned to nobody

[2014-01-02 17:52] simbo1905 opened #76 "Need a safe way to resolve the webserver.webSocketConnections when defining Routes"
In this file

https://github.com/simbo1905/planning-poker/blob/v0.6/src/main/scala/scrumpoker/server/ScrumPokerApp.scala

at lines lines 99 and 117 the response from the business logic actors is pushed to the websockets. This requires me to use a "var" for the webServer as using a "val" gives the compile error "forward reference extends over definition of value routes". The issues being that you h

[2014-01-03 05:04] veebs commented on #75
Been on holidays but back now.

If you don't want to use a `var` you can do what I've done in the ChatApp example:

https://github.com/mashupbots/socko/blob/master/socko-examples/src/main/scala/org/mashupbots/socko/examples/websocket/ChatApp.scala

An alternative is to start up a wrapper actor in main() with `webServer` as an argument.  You can then send messages to the actor which will use `webSe

[2014-01-03 05:05] veebs commented on #76
Try what I've done in the ChatApp example:

https://github.com/mashupbots/socko/blob/master/socko-examples/src/main/scala/org/mashupbots/socko/examples/websocket/ChatApp.scala

An alternative is to start up a wrapper actor in main() with `webServer` as an argument.  You can then send messages to the actor which will use `webServer` to send messages.

[code]

[2014-01-03 05:07] veebs commented on #75
BTW - I've also setup a socko google group.  I've not had time to publisize it yet - but please feel free to post to it an ask questions if you prefer.

[2014-01-03 13:53] simbo1905 commented on #76
I have updated the code accordingly at:
https://github.com/simbo1905/planning-poker/blob/v0.7/src/main/scala/scrumpoker/server/ScrumPokerApp.scala
https://github.com/simbo1905/planning-poker/blob/v0.7/src/main/scala/scrumpoker/game/ScrumEngine.scala
As per your suggestion in the main method the webserver is passed into the actorFor factory to create the game actor. Then in the routes actorSelector

[2014-01-03 13:53] #76 closed, assigned to nobody

[2014-01-03 13:56] simbo1905 commented on #75
I prefer stackoverflow to mail distro groups as it has a richer set of features for peer reviewing answers and the content is in the public domain and popular answers get translated into foreign languages etc. I don't have enough rep to create "socko" tag on stackoverflow yet.

[2014-01-03 13:59] simbo1905 commented on #75
I posted a better version of this question which veebs answered and which I implemented over at https://github.com/mashupbots/socko/issues/76

[2014-01-04 14:57] simbo1905 commented on #75
The socko googlegroup is members only and i cannot browse it without asking to join it. Is there something restricted about socko and the way that it is discussed outside of the public domain?

[2014-01-08 10:48] veebs commented on #75
I've allowed the public to join.  I think you just need to sign in with your google id, join and you should be able to post.

[2014-01-09 10:17] #73 closed, assigned to nobody

[2014-01-09 10:19] veebs opened #77 "SPDY not working with v0.4.0"

[2014-01-09 10:19] veebs commented on #77
See commit: 9ff3f0b9bf9202c378a143e9cb6fc016a0827160

[2014-01-09 10:20] #77 closed, assigned to veebs

[2014-01-13 23:36] veebs opened #79 "Remove setting of SPDY headers"
No longer needed now we have SpdyHttpResponseStreamIdHandler in the pipeline.

[2014-01-14 01:16] veebs commented on #72
See #78

[2014-01-14 01:16] #72 closed, assigned to veebs

[2014-01-14 01:19] veebs commented on #74
One possible explanation is that v0.3 only supports SPDY2 so I may have reverted to HTTPS.  v0.4 will supports SPDY3.

[2014-01-14 02:48] #79 closed, assigned to veebs

[2014-01-14 05:18] marsxu1984 opened #80 "some question for socko Routers"
[code]

[2014-01-14 05:21] marsxu1984 commented on #71
Thanks，Veebs. I glad you DID SO MUCH for this issus.

[2014-01-14 10:53] veebs commented on #80
You can just combine the case statement into 1 route. See the web socket example project.

V

[2014-01-14 13:24] Bongani commented on #74
@veebs I've been doing further tests and I actually found out that there was a bottleneck on my ISP network. Once I changed ISP everything worked well. Sorry for the inconvenience.

[2014-01-14 22:55] veebs commented on #74
@Bongani no problems. glad it all worked out.

[2014-01-14 22:55] #74 closed, assigned to nobody

[2014-01-14 23:33] #59 closed, assigned to nobody

[2014-01-15 01:31] marsxu1984 commented on #80
combine the case statement, How to do it, I have no idea...

[2014-01-15 01:39] veebs commented on #80
[code]

See https://github.com/mashupbots/socko/blob/master/socko-examples/src/main/scala/org/mashupbots/socko/examples/websocket/ChatApp.scala

An alternative you might want to try is:

[code]

See documentation http://sockoweb.org/docs/0.4.1/api/#org.mashupbots.socko.routes.Routes$

[2014-01-24 02:34] chiappone opened #81 "event.readBinary() causes UnsupportedOperationException"
I am working with a websocket client that sends binary data.  When trying to read the event from the websocketFrame I get the following exception:

[code]

Do you have any ideas on a work around for this.

Thanks!

[2014-01-25 05:26] veebs commented on #81
Thanks for reporting this. It's fixed the next release.   In the interim, you can try this work around

[code]

`event` is the `WebSocketFrameEvent` when the binary data is received.

Thanks

[2014-01-25 05:26] #81 closed, assigned to veebs

[2014-01-28 20:56] chiappone opened #82 "Support for Websocket fallbacks"
Do you plan on having any support for either flash socket or long polling fallbacks for websockets with older browsers?

[2014-01-28 23:44] veebs commented on #82
Unfortunately not. I haven't go the time.  Pull requests are always welcomed!

[2014-01-28 23:44] #82 closed, assigned to nobody

[2014-01-29 07:18] simbo1905 commented on #82
You don't need anything special for polling fallback for websockets. Checkout this socko app https://github.com/simbo1905/planning-poker/tree/v0.10 which uses jquery.gracefulWebSocket.js to fallback to ajax polling when the browser does not have websockets. By default the jquery.gracefulWebSockets.js looks to see if the websockets object is defined and if not creates a fake one which polls. The so

[2014-01-29 07:50] simbo1905 commented on #82
Oh one more thing to watch out for. Websockets are amazingly efficient. If a load of folks leave their browser open doing nothing for days you don't pay for much bandwidth or cpu. If someone is using the fallback script and leaves a browser open all week doing nothing they they will leech your bandwidth with the GET request headers. To handle that the demo app above has an application level timeou

[2014-01-29 20:41] chiappone commented on #82
Thanks for the info.

[2014-03-16 21:57] ghost opened #85 "Autobahn test suite report"
I strongly recommend to add the results of the Autobahn test suite to the site, which is the standard test suite for WebSockets.

http://autobahn.ws/testsuite/

[2014-03-25 01:28] ghost opened #86 "wss"
Hi, Does Socko support wss:// ?

[2014-03-25 01:42] veebs commented on #86
I've not personally tried it - but I know that Netty does and Socko uses
Netty underneath so it should.

Add SSL as per this example:
https://github.com/mashupbots/socko/tree/master/socko-examples/src/main/scala/org/mashupbots/socko/examples/secure

Let me know how it goes for you.

Regards
Vibul

On 25 March 2014 12:28, gporrata notifications@github.com wrote:

[2014-03-25 01:44] veebs commented on #85
Sorry for being slow to get back to you.

Socko uses Netty underneath and I've run Autobahn against Netty so I know
it works.

Its just a matter for writing an Autobahn echo handler for Socko which I'll
put in the next release.

Thanks

Regards
Vibul

On 17 March 2014 08:57, partycoder notifications@github.com wrote:

[2014-03-25 15:55] atemerev opened #87 "Akka 2.3.0 compatibility"
Looks like Sockoweb 0.4.2 doesn't work yet with Akka 2.3.0. :(

Symptoms are:

Uncaught error from thread [main-akka.actor.default-dispatcher-2] shutting down JVM since 'akka.jvm-exit-on-fatal-error' is enabled for ActorSystem[main]
java.lang.AbstractMethodError
java.lang.AbstractMethodError

There was a similar problem with Play Framework, but they managed to fix it:

https://groups.google.com/fo

[2014-03-25 22:24] veebs commented on #87
Thanks for reporting this.  The currently version of Socko is compiled against Akka 2.2.3 - hence the exception.

I'll look to upgrade in the next release of socko

[2014-04-04 03:16] chenweiyj commented on #87
I met this problem as well. I am using akka 2.3.0 and socko 0.4.1. So I should be back to use akka 2.2.3. Thx

[2014-04-24 13:45] ForNeVeR opened #88 "Upgrade to scala 2.11"
Please provide the artifacts compiled against the recently released scala 2.11.

I fear there is no 2.11 build of akka 2.2.3, so this should be linked with #87.

[2014-04-27 01:42] cube-drone opened #89 "Guide error?"
In Step 1, example 1. of the guide, the following code won't compile, as the HttpRequestEvent object doesn't have a 'writeResponse' method. Perhaps this guide is for an earlier version of Socko?

[code]

[2014-04-27 07:32] simbo1905 commented on #89
Yes the quickstart example current on trunk and the newest tag gets the response from the event:

[code]

https://github.com/mashupbots/socko/blob/socko-0.4.2/socko-examples/src/main/scala/org/mashupbots/socko/examples/quickstart/HelloHandler.scala

[2014-04-27 23:34] veebs commented on #88
Will do shortly

On 24 April 2014 23:45, Friedrich von Never notifications@github.comwrote:

[2014-04-27 23:35] veebs commented on #89
Thanks for that.  I'll update the doco.

On 27 April 2014 17:32, simbo1905 notifications@github.com wrote:

[2014-04-28 06:09] simbo1905 opened #90 "two new questions on stackoverflow"
http://stackoverflow.com/questions/23333590/how-are-people-implementing-session-handling-with-socko-webserver

http://stackoverflow.com/questions/23333590/how-are-people-implementing-session-handling-with-socko-webserver

it would be very nice if someone could add a label 'socko-webserver' or the like to stackoverflow to encourage the community to ask and answer on that forum.

[2014-04-28 08:44] chenweiyj opened #91 "No resource for my/package in RestRegistry"
I am using restful api of socko. When I run my application via `sbt run`, it is ok to run without any problem. However, when I package my application by `one-jar` and run it via `java -jar myapp-onejar.jar`, a runtime error occur. So I wonder what the problem with the jar file and my application is. Thank you.

[2014-04-28 09:53] veebs commented on #91
What is your error?

[2014-04-28 09:55] #86 closed, assigned to nobody

[2014-04-28 09:55] #56 closed, assigned to nobody

[2014-04-28 09:55] #80 closed, assigned to nobody

[2014-04-28 10:02] chenweiyj commented on #91
Following is my `sbt about` result:

[code]

Following is the runtime error message:

[code]

Following is the part of the result of `jar -tf myapp_2.10-1.0.jar`, where `myapp_2.10-1.0.jar` is in `myapp_2.10-1.0-onejar.jar` generated by `one-jar`:

[code]

And the error code is:

  val restRegistry = RestRegistry("com.pkgpath.httpapi",
      RestConfig("1.0", "http://localhost:8888/api",

[2014-04-28 10:03] veebs commented on #88
Just checked that Akka 2.3.2 is being built with Scala 2.10.4.

I'll check with the next Akka release if its Scala has been upgraded.  If yes, I'll rebuild socko using these new versions.

Thanks

[2014-04-28 10:16] veebs commented on #91
Maybe it has something to do with the class loader.

If you don't specify a class loader in the constructor of the `RestRegistry`, then the default is used (see https://github.com/mashupbots/socko/blob/master/socko-rest/src/main/scala/org/mashupbots/socko/rest/RestRegistry.scala#L102).

You can set the log level to Debug to see what directory is being used in order to locate the classes (see https

[2014-04-28 10:22] #89 closed, assigned to nobody

[2014-04-29 08:04] chenweiyj commented on #91
@veebs It didn't go to the log.debug statement of L45 in ReflectUtil.scala. It got error in `throw new RuntimeException("No resource for " + relPath)`, and printed `relPath` as
`Caused by: java.lang.RuntimeException: No resource for com/pkgpath/httpapi`

However, `com/pkgpath/httpapi` is in the jar file.

Could you tell me how to load classes for `RestRegistry` in a packaged jar file, since I need

[2014-04-30 01:01] veebs commented on #91
You might have to try to get the class loader for your class and pass it into RestRegistry (https://github.com/mashupbots/socko/blob/master/socko-rest/src/main/scala/org/mashupbots/socko/rest/RestRegistry.scala#L113).

[code]

Failing that, you can see in ReflectUtil that I'm just trying to get the folder where the class files are:

[code]

If you have the time, can you play around and let me know

[2014-04-30 01:12] dglick commented on #70
I recently ported Socko to use the latest version of Swagger (1.3.2?) because I needed support for overriding the reflected classes with my own info and I saw that I needed a newer version of Swagger for that.  After completing the port and overrides still not working, I discovered that Socko bypasses Swagger and does its own reflection when documenting the classes.  So I modified Socko to support

[2014-04-30 01:19] veebs commented on #70
This is the right place and thank you very much for offering to contribute the upgrade :-)

If you don't have the time for github, I will happily merge the changes for you.

Just zip up your source code, upload it on the net (maybe GoogleDrive, SkyDrive, DropBox, RapidShare, etc...) and post the link under this issue.  I'll download it and do the rest.

Thanks again.

[2014-04-30 01:26] veebs commented on #88
Just found this post that states it is available. http://letitcrash.com/post/83616079794/akka-2-3-2-for-scala-2-11-0-is-released

Will find some time this weekend to upgrade and publish.

Thank for waiting

[2014-04-30 01:43] dglick commented on #70
Ok, I've put it on GoogleDrive at https://drive.google.com/file/d/0B2GvUEoGLUjCbmFOOFJMeGYtWHM/edit?usp=sharing.  Please be aware that for my own testing I've made changes to RestApp.scala and User.scala in the socko-examples project that you may not want to preserve... :-)

Also, for future reference what is the preferred way to submit changes?

David

[2014-04-30 01:51] veebs commented on #70
The preferred way is via GitHub pull requests.  It does make merging easier.  Here's a link that may help: https://help.github.com/articles/fork-a-repo

Thanks very for this.  I'll merge your changes when I get some time this weekend.

[2014-04-30 02:40] chenweiyj commented on #91
I found `one-jar` has a different classloader. So the resource will be null.

But if I get all libs into a `lib` directory and export the `CLASSPATH` by adding those libs in `lib` file and run my jar file (generated by `sbt package`), it still got an error as follows:

[code]

The log printed shows:

[code]

[2014-04-30 03:35] veebs commented on #91
Did you try to pass the `one-jar` class loader into RestRegistry?

[2014-04-30 03:40] chenweiyj commented on #91
No, I want my project to be generic with both `sbt run` command and `one-jar` package.

[2014-04-30 04:12] veebs commented on #91
Can you please provide a stack trace. Thanks

[2014-04-30 07:33] chenweiyj commented on #91
[code]

[2014-04-30 14:31] ForNeVeR commented on #88
Hey, guys, thank _you_ for developing such a great software!

[2014-04-30 23:28] veebs commented on #91
I'm going to have to add more debugging to find out why it is not working for you.  I'll try to do so this weekend.

[2014-05-04 06:50] veebs commented on #88
OK - I'm still missing Scala Test Ecplise IDE plugin which will be release soon according to this: http://scala-ide.org/blog/release-notes-3.0.4.html

I'll try again next weekend.

[2014-05-04 07:17] veebs opened #92 "Upgrade to Netty 4.0.19"
Depreciated SPDY 3.0.  Only support SPDY 3.1 now.

[2014-05-08 06:30] veebs opened #93 "Add netty logging handler to log HTTP requests/responses"
Add
      pipeline.addLast("log", new LoggingHandler())

into PipelineFactory class if `WebServerConfig` field `logNetworkActivity` flag is set to `true`.

This will output the HTTP requests and responses to the log when the log level is set to DEBUG.

[code]

[2014-05-12 02:09] #92 closed, assigned to veebs

[2014-05-12 02:09] #88 closed, assigned to nobody

[2014-05-12 02:10] #87 closed, assigned to nobody

[2014-05-12 08:05] #93 closed, assigned to veebs

[2014-05-13 05:53] chenweiyj commented on #91
Besides, I also tried `sbt-pack`, which does not pack all dependencies into one jar file, but a `lib/` directory and call my jar file in `java` command. However, it still failed to register the `RestRequest`. Following is the stack trace.

[code]

[2014-05-13 06:35] veebs commented on #91
I've just added a lot more logging to the code to help track down the
problem.  I'll release it as soon as I get some time (hopefully in the next
few days).  I'm just a bit busy with work at the moment.

On 13 May 2014 15:53, chenweiyj notifications@github.com wrote:

[2014-05-15 04:04] chenweiyj commented on #91
I have solved this problem, and made a pull request. thank you.

[2014-05-15 04:04] #91 closed, assigned to nobody

[2014-05-15 05:30] veebs commented on #85
Added autobahn example app that echo all web socket frames
- Install Autobahn
- Run `org.mashupbots.socko.examples.websocket.AutobahnApp` which will start an echo web socket server at `ws://127.0.0.1:9001`
- Run `wstest -m fuzzingclient`

Results will be published on the website after this release.

[2014-05-15 05:30] #85 closed, assigned to veebs

[2014-05-29 06:53] veebs opened #95 "Support for Swagger 1.2"

[2014-05-30 01:32] #70 closed, assigned to nobody

[2014-06-14 12:35] chenweiyj opened #96 "No 0.5.0 version for Scala 2.10.x?"
I use a library that only compiled with scala 2.10.x, and cannot upgrade to 2.11. So I wonder how we can use 0.5.0 version with Scala 2.10.x. Thank you!

[2014-06-15 01:40] veebs commented on #96
Sorry I don't have the time to compile it with 2.10.

You can try to compile socko yourself with 2.10.  Let me know if you have
any problems.

Regards

On 14 June 2014 22:35, Chen Wei notifications@github.com wrote:

[2014-07-18 13:36] gfduszynski opened #97 "Memory leak under heavy load in 0.5.0"
I'm sending around 500 messages per second on single WS connection.
This causes error described in log below.
Sending fewer messages prevents the problem from happening.

Apparently GC destroys some buffers which were suppose to be closed by method.
Probably Netty related, maybe update to newer version ?

Log's: http://pastebin.com/DtcGBZrq

[2014-07-20 00:33] veebs commented on #97
Thanks - I'll look into it.

On 18 July 2014 23:36, gfduszynski notifications@github.com wrote:

[2014-07-23 03:10] chenweiyj opened #98 "How to restart socko server seamlessly?"
Hi,

I am using socko server in production. So each time I update my source code, I do not want my users feel the system is down for sometime when I redeploy it. So I need a way to restart the socko server seamlessly. Anyone can help? Thank you.

[2014-07-25 17:04] gfduszynski opened #99 "toFormDataMap incorrect handling of contentType"
HttpRequestMessage.scala: Line 278

Method assumes that there is no charset data included.
Header Content-Type may include charset info like stated in the wiki (it's missing on EN)
http://pl.wikipedia.org/wiki/Lista_nag%C5%82%C3%B3wk%C3%B3w_HTTP#Content-Type

So the value of contentType may be "application/x-www-form-urlencoded; charset=UTF-8"
This causes Map.Empty result while non empty maps shou

[2014-10-06 00:09] veebs commented on #98
Sorry this feature is not currently supported.

You can try to run 2 instances and update one before the other

[2014-10-06 00:09] #98 closed, assigned to nobody

[2014-10-06 00:10] #96 closed, assigned to nobody

[2014-10-06 00:11] #90 closed, assigned to nobody

[2014-10-06 00:48] veebs commented on #97
Updated Netty version to 4.0.23.Final, Akka to 2.3.6 and scala to 2.11.2

[2014-10-06 03:40] #97 closed, assigned to nobody

[2014-10-06 03:40] #99 closed, assigned to nobody

[2014-10-21 09:44] gfduszynski opened #101 "WS onClose is not triggered if client machine gets hard restart."
I'm creating WS connection from nodejs to socko 6.0 (also in 5.0).
If I use CTRL + C to kill client app onClose works properly.

If i use hardware reboot or disconnect wifi antenna onClose is not triggered.

Probably netty related since:
nettyInstance.webSocketConnections.allWebSocketChannels.toArray()

still shows the connection present.

[2014-10-21 13:02] gfduszynski commented on #101
I could not find any info on WS Ping/Pong. Probably there should be an option to perform ping on a given websocket or better to specify during WS authorization that  we want ping's to be sent at specified intervals. WS that are not responding should be closed.

[2014-11-07 16:52] tkellogg opened #102 "When establishing a WebSocket, handle empty `Host` header"
I found this because our production environment is logging a lot of these exceptions. It appears that some clients are sending malformed requests to initiate a WebSocket session. Socko seems to report this as 500 and logs an exception, however it should report 400.

Specifically, the problem is on this line: https://github.com/mashupbots/socko/blob/master/socko-webserver/src/main/scala/org/mashupb

[2014-11-25 03:08] chenweiyj opened #103 "Open API support?"
Is it possible to integrate open api to socko web server? I am going to open our system's api, but I could not find a nice framework to do so. Have I to realize all the oauth methods?

[2014-12-01 00:16] iachimoe opened #104 "toFormDataMap() in DefaultHttpContent rejects valid(?) content type"
toFormDataMap returns an empty map if the content type doesn't exactly match application/x-www-form-urlencoded
When making PUT requests with XMLHttpRequest, Firefox automatically tacks on a charset, yielding a content type of "application/x-www-form-urlencoded; charset=UTF-8", which prevents toFormDataMap from finding the parameters.

[2014-12-01 00:19] iachimoe commented on #104
Doh, just realised that this has actually been fixed already. Apologies for the false alarm.

[2014-12-01 00:19] #104 closed, assigned to nobody

[2015-01-24 00:42] mubarak opened #107 "Couldn't start WebServer: IndexOutOfBoundsException from SwaggerReflector"
I am trying to start the `WebServer` using

[code]
and `TestResponse` would look like

[code]

and `TestUri` would look like

[code]

I did debug it and error comes from `spray.http.Uri`. Any thoughts?

[code]

[2015-01-27 00:06] mubarak opened #108 "HTTP PATCH support"
Is there any plan to support HTTP PATCH method (http://tools.ietf.org/html/rfc5789)?

Thanks.

[2015-05-28 16:24] malibuworkcrew commented on #102
Incidentally this can cause any HTTP/1.0 call without a host on its header to hang indefinitely. Making socko very vulnerable to DDoS.

[2015-05-28 16:26] malibuworkcrew opened #111 "Memory Leak: After calling toBytes on DefaultHttpContent, when the content is garbage collected .release() is never called on the buffer."
ERROR io.netty.util.ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it
's garbage-collected.
Recent access records: 5
#5:
        io.netty.buffer.AdvancedLeakAwareByteBuf.getBytes(AdvancedLeakAwareByteBuf.java:223)
        io.netty.buffer.CompositeByteBuf.getBytes(CompositeByteBuf.java:665)
        io.netty.buffer.CompositeByteBuf.getBytes(CompositeByteBuf.java:40)
        io.

[2015-08-31 20:33] yeputons opened #112 "Add information about the need to release netty's buffers after message processing"
Say, websocker example does not call `frame.frame.release()` after it finishes processing, which results in memory leak. You can read more about reference-counted objects in Netty <a href="http://netty.io/wiki/reference-counted-objects.html">here</a>.

One possible way to check that you have no easy-detectable memory leaks is to run the application with `-Dio.netty.leakDetectionLevel=paranoid`, ru

[2015-09-02 21:25] simbo1905 commented on #112
Can you point out the example code which has the problem and provide a gist of the fix?

[2015-09-02 21:39] simbo1905 commented on #112
So what I am reading is that the change would look like this in a typical socko app https://github.com/simbo1905/sprint-planning/commit/6faec3fe4173e0dafeee2590fb447d81bca8f727

Do we have to leave it down to the person writing the app to remember to call release? Would it not be better and safer for socko to always call release after it has run the application supplied code?

[2015-09-03 04:59] yeputons commented on #112
@simbo1905 Yep, that's what it looks like. However, some applications may want to pass buffers internally: say, to other actors. So if Socko suddenly start releasing buffer, it will be very surprising backward-incompatible change - apps will either crash or get wrong data because the buffer they try to access is already recycled.

[2015-09-03 22:10] simbo1905 commented on #112
@yeputons okay but the vanilla use case is to parse the buffer into some app immutable type then pass on the app type for processing freeing the buffer. handing the release for the vanilla use case is error prone as exceptions may be thrown. how about this version which has a `releaseAfter(f) { doNormalWork }`? if that looks usable then i would suggest you or i should fork the demo code here and c

[2015-10-13 18:58] bthibault opened #113 "wish this was still in active development :/"

[2015-10-14 00:49] veebs commented on #113
Sorry mate.  Unfortunately, my work is taking up all my time.  If you or someone else like to take over the project ... let me know.

Thanks

[2015-10-14 23:04] simbo1905 commented on #103
There is a demo of OpenID with socko over at https://github.com/simbo1905/socko-openid with full write up at https://simbo1905.wordpress.com/2014/05/05/openid-authentication-with-socko-webserver/

The code is fairly non trivial and I have not given it any thought as to how it could be abstracted away to something which is simply plugged into an app. If someone can see how to make it some sort of c

[2015-10-14 23:09] simbo1905 commented on #113
+1 for someone picking things up. the couple of open issues about memory leaks look serious but other than that keeping up to date with other libs would keep the ball rolling forwards. web frameworks are notoriously bloatware so the small and mighty socko is a breath of fresh air.

[2015-10-15 15:52] bthibault commented on #113
If you look at the forks @mubarak from @layerhq have made quite a few updates... maybe they are interested in taking over.

[2015-10-15 17:12] simbo1905 commented on #113
I recently moved my TRex project into a new GitHub account setup as an organisation so I could add someone else as an administrator to closely collaborate with them.

I am willing to move my three socko demos over to a new org to help on testing merges of features by other devs. I can also setup travis, gitter, codacy, GitHub pages and other integrations and port articles and docs and start a wiki

[2015-10-15 17:17] simbo1905 commented on #113
... the first matter beyond setting up the new account would be inviting those forks to merge back into the org codebase to pull the community back together.

[2015-10-15 17:24] bthibault commented on #113
+1

[2015-10-15 21:41] simbo1905 commented on #113
@veebs you okay with me setting up a socko account on GitHub and adding you and bthibault as admins then forking the repo here into that as the new "official repo"? To get the community to follow you could put up a notice on the readme in this repo to say that the concept is to bring more people onboard and take things forward. hopefully there will be enough interest for socko to get it a life of

[2015-10-15 21:44] simbo1905 commented on #113
... the second matter beyond the above would be to setup some milestones and assign some tickets to milestones like merging back forks and the various issues raised so far here. we could ask folks if their are feature they want or upgrades and get folks to vote on them.

[2018-03-22 22:10] ccankov opened #116 "Headers with the same name are incorrectly overwritten and are not written at all on redirect"
When `HttpResponseMessage.write` is invoked, headers with duplicate names will always be overwritten due to the [current implementation](https://github.com/mashupbots/socko/blob/31e6a2e11425af6c4917564852af30f160e72b99/socko-webserver/src/main/scala/org/mashupbots/socko/events/HttpResponseMessage.scala#L130) of that method:
[code]
The current [Netty documentation](https://netty.io/4.1/api/io/netty

[2019-11-25 16:09] ShutaoTang opened #118 "Memory LEAK of quickstart example"
When I start the example of quickstart and test it via JMeter 5000 times, then I got the following error :

[code]
![xxx](https://user-images.githubusercontent.com/35004095/69556906-9e3b5180-0fe0-11ea-8ad7-7e3ede5cb5f1.PNG)

so I add the JVM option `-Dio.netty.leakDetectionLevel=advanced`, then restarts this example

[code]